* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #647dee;
    --color-primary-variant: #7f53ac;
    --color-secondary: #fe0944;
    --color-secondary-variant: #feae96;
    --color-danger: #fbd72b;
    --color-danger-variant: #f9484a;
    --color-white: #fff;
    --color-black: #000;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 1s cubic-bezier(0, 0.66, 0.55, 0.99);
}

body {
    font-family: 'Poppins',sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background:var(--color-danger);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;;
}

section h2{
    text-align:center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: transparent;
    border: 0.15rem solid var(--color-danger-variant);
    padding: .2rem .5rem;
    border-radius: 0.3rem;
    color: var(--color-black);
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-danger-variant);
    color: var(--color-white);
}

